<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="APP_NAME"
                    source="spring.application.name"
                    defaultValue="triagemate-ingest"/>

    <!-- JSON appender (prod/docker) -->
    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdc>true</includeMdc>
            <includeContext>false</includeContext>
            <customFields>{"service":"${APP_NAME}"}</customFields>
        </encoder>
    </appender>

    <!-- Plain console appender (dev + test) -->
    <appender name="PLAIN" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%X{requestId}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Dev + Test -->
    <springProfile name="dev,test">
        <root level="INFO">
            <appender-ref ref="PLAIN"/>
        </root>
    </springProfile>

    <!-- Everything else -->
    <springProfile name="!dev,test">
        <root level="INFO">
            <appender-ref ref="JSON"/>
        </root>
    </springProfile>

</configuration>